<html>
    <head>
            <title>
                Plotter
            </title>
        <link rel="stylesheet" href="plotter_static/styles.css">
        <link rel="stylesheet" href="plotter_static/choices.css">
        <link rel="stylesheet" href="plotter_static/bootstrap/css/bootstrap.css">
        <script src="plotter_static/jquery.js"></script>
        <script src="plotter_static/bootstrap/js/bootstrap.js"></script>
        <script src="plotter_static/choices.min.js"></script>
        <script src="plotter_static/axios.min.js"></script>
        <script src="plotter_static/script.js"></script>

    </head>
    <body>

    <header>
    </header>

    <div class="row" id="dash_content">
        <div class="col-xs-2" id="filters_grid">

             <button id="filters_close" type="button" class="btn btn-primary" >X</button>

            {% for f_key, value in filters.items() %}
                {% if value['type'] == 'radio' %}
                    {% with id=value['value'], options=value['options'], cls='main_filter' %}
                        {% include "radio_input.html" %}
                    {% endwith %}
                {% elif value['type'] == 'checkbox' %}
                    {% with id=value['value'], options= value['options'], cls='main_filter' %}
                        {% include "checkbox_input.html" %}
                    {% endwith %}
                {% elif value['type'] =='select' %}
                    {% with id=value['value'], options= value['options'], name=value['name'], cls='main_filter' %}
                        {% include "select_input.html" %}
                    {% endwith %}
                {% elif value['type'] =='choices' %}
                    {% with id=value['value'], options= value['options'], name=value['name'], cls='main_filter' %}
                        {% include "choices.html" %}
                    {% endwith %}
                {% elif value['type'] == 'number' %}
                    {% with id=value['value'], options= value['options'], cls='main_filter' %}
                        {% include "number_input.html" %}
                    {% endwith %}
                {% endif %}
            {% endfor %}
            <br><br>
            <button id="open_filters" type="button" class="btn btn-primary" data-toggle="modal" data-target="modal">Add filters</button>
            <br><br>
            <button id="add_plot" type="button" class="btn btn-primary" > Add plot</button>
            <br><br>
            <button id="save_view" type="button" class="btn btn-primary" >Save</button>
            <button id="list_view" type="button" class="btn btn-primary" >Load</button>
        </div>

            <div class="row" id="dash_grid">
                <div id="view_select_div" class="modal" tabindex="-1" role="dialog">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Select view to load</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                           <select id="view_select">
                          </select>
                      </div>
                      <div class="modal-footer">
                          <button id="load_view" type="button" class="btn btn-primary" >Go!</button>
                      </div>
                    </div>
                  </div>
              </div>

              <div id="filters_window" class="modal" tabindex="-1" role="dialog">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Add more filters to the plot</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <div id="add_filters_window">
                                 {% with id='dim_filters', options= [], name='Additional filters' %}
                                    {% include "select_input.html" %}
                                {% endwith %}
                          <div id="add_filters_window_list">
                          </div>
                           <br>
                             <div id="add_having_window">
                                    {% with id='having_metrics', name='Having clause' %}
                                        {% include "text_input.html" %}
                                    {% endwith %}
                             </div>
                         </div>
                      </div>
                      <div class="modal-footer">
                      </div>
                    </div>
                  </div>
              </div>

        <button id="open_menu" type="button" class="btn btn-primary" >MENU</button>
    </div>
               </div>
    </body>
</html>